@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.IsInRole("Gebruiker"))
    {
        <h1>Welkom @User.Identity.Name</h1>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }
    <p>Deze pagina is op dit moment nog onder constructie</p>
</div>
